#item-template{
    margin: auto;
}
.item{
    width: auto;
}
.icon{ 
    text-align: center;
}
.filename{
text-align: center;
}

#current-folder{
    text-align: center;
}
#toolbar{
    text-align: center;
}
#main-area{
    text-align: center;
    padding-left: 1%;
}
#search {
    float: right;
    padding: 0.5em;
    min-width: 10em;
    border-radius: 3em;
    margin: 2em 1em;
    border: none;
    outline: none;
}



.span.path:hover {
    opacity: 0.7;
    cursor: pointer;
}


